<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://i.pinimg.com/564x/34/20/e1/3420e1e63954b591df57f4bd2bd1f5b0.jpg"
            class="img-fluid" alt="Phone image" style="margin-bottom: 100px;">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control form-control-lg" name="password1" #password/>
              <label class="form-label" for="form1Example23" >New Password</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form1Example23" class="form-control form-control-lg" name="password2" [(ngModel)]="user.password" #password2/>
                <label class="form-label" for="form1Example23" >Repeat Password</label>
              </div>
  
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="changepassword(password.value)">Submit</button> &nbsp;
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="back()">Back</button>
           
          </form>
        </div>
      </div>
    </div>
  </section>