.tbl
{
    background-color:  rgb(135, 212, 208);
    
}
th{
    color: white;
    background-color: rgb(222, 148, 51);
    
}
td{
    color: aliceblue;
}
.backbtn
{
    float: right;
    margin-right: 50px;
}